In [116]:
import os

import numpy as np
import pandas as pd
import yaml

In [11]:
os.listdir("./data/toktarova_et_al_2019/")

['Population.csv',
 'ElectricityperCapita.csv',
 'GDPperCap 2015.5.2050.10.2100.csv',
 'Real load hourly data.csv',
 'AnnualDemand.csv',
 'Data.csv',
 'GDPperCapita.csv',
 'Firstdayofyear.csv',
 'Peak.csv',
 'References.csv']

In [49]:
with open("./data/gegis__all_countries.yaml", "r") as file:
    data = yaml.safe_load(file)

In [70]:
items = data["items"]
gegis_countries = [[item["country_name"], item["country_code"]] for item in items]

In [125]:
gegis_country_codes = np.array(gegis_countries).T[1]

In [136]:
gegis_countries

[['Austria', 'AT'],
 ['Belgium', 'BE'],
 ['Bosnia and Herzegovina', 'BA'],
 ['Bulgaria', 'BG'],
 ['Croatia', 'HR'],
 ['Cyprus', 'CY'],
 ['Czech Republic', 'CZ'],
 ['Denmark', 'DK'],
 ['Estonia', 'EE'],
 ['Finland', 'FI'],
 ['France', 'FR'],
 ['Germany', 'DE'],
 ['Greece', 'GR'],
 ['Hungary', 'HU'],
 ['Iceland', 'IS'],
 ['Ireland', 'IE'],
 ['Italy', 'IT'],
 ['Latvia', 'LV'],
 ['Lithuania', 'LT'],
 ['Netherlands', 'NL'],
 ['North Macedonia', 'MK'],
 ['Norway', 'NO'],
 ['Poland', 'PL'],
 ['Portugal', 'PT'],
 ['Romania', 'RO'],
 ['Serbia', 'RS'],
 ['Slovakia', 'SK'],
 ['Slovenia', 'SI'],
 ['Spain', 'ES'],
 ['Sweden', 'SE'],
 ['Switzerland', 'CH'],
 ['United Kingdom', 'GB'],
 ['Canada', 'CA'],
 ['Mexico', 'MX'],
 ['Argentina', 'AR'],
 ['Brazil', 'BR'],
 ['Chile', 'CL'],
 ['Australia', 'AU'],
 ['New Zealand', 'NZ'],
 ['Kenya', 'KE'],
 ['Saudi Arabia', 'SA'],
 ['South Korea', 'KR'],
 ['Sri Lanka', 'LK'],
 ['Türkiye', 'TR']]

## Features

"""

We take time series of hourly electricity demand for 44 countries from Toktarova et al. [15] and fit a gradient boosting regression model [32] to demand time series for each country normalized to their annual mean

Estimates of annual country-level annual electricity generation in 2050 were produced by extrapolating annual demand in 2016 [33] using regional demand growth in the SSP2-26 scenario

Therefore we chose to train our model on ten independent var­
iables: 

(i + ii) annual per-capita electricity demand and purchase-power adjusted GDP (for prediction, we extrapolated this to 2050 using the SSP2 scenario in a similar way to demand as above), 

(iii) average hourly temperature profiles over the year in the 3 most densely populated areas of each country [35,36], 

(iv) the mean annual temperature level,

(v) the 1st temperature percentile across the year (to represent how low the temperature dips go),

(vi) the 99th percentile (to represent how high temperature spikes go),

(vii) hour of the day,

(viii) a weekday/weekend indicator,

(ix) mean monthly temperature levels, and

(x) a temperature-based ranking of months of the year
(where the first month is the coldest month, and the month ranked last is the warmest across the year).
The temperature ranking of months was chosen in order to reflect that different countries have summer in different calendar months.

"""

### (i + ii) annual per-capita electricity demand and purchase-power adjusted GDP

In [105]:
temp = pd.read_csv(
    "./data/toktarova_et_al_2019/ElectricityperCapita.csv", index_col=0, header=1
)

In [106]:
temp.columns = [
    int(float(col_name)) if col_name.split(".")[0].isdigit() else col_name
    for col_name in temp.columns
]

In [107]:
temp[2015].count()

np.int64(183)

In [161]:
import pycountry


def search_pycountry(country_name: str) -> str | None:
    try:
        # Try to find the country
        country = pycountry.countries.search_fuzzy(country_name)[0]
        return country.alpha_2
    except LookupError:
        return None


def get_country_codes(country_names):
    country_codes = []
    for country_name in country_names:
        found_country_code = search_pycountry(country_name)
        if not (found_country_code):
            print(country_name)

        country_codes.append(found_country_code)
    return country_codes

In [162]:
temp.insert(1, "country_code", get_country_codes(temp["Countries"]))

Area under dispute
Bahamas. The
Bosnia-Herzegovina
Bouvet Island (uninhabited)
Myanmar former Burma
Cambodia (Formerly Kampuchea)
Cape Verde
Congo. Democratic Republic of the (Formerly Zaire)
Congo. Republic of the
Crozet Islands (France)
Falkland Islands (Islas Malvinas)
French Guiana (France)
Gambia. The
Guadeloupe (France)
Guinea - Bissau
Ile Amsterdam (France)
Ivory Coast
Kerguelen Islands (France)
Korea. Democratic Peoples Republic
Korea. Republic of
Martinique (France)
Vanuatu former New Hebrides
Norfolk Island (Australia)
Prince Edward Islands (South Africa)
Reunion (France)
St. Helena
St. Lucia
St. Vincent and the Grenadines
Swaziland
Tanzania. United Republic of
Turkey
Upper Volta - Burkina Faso
West Bank
Serbia (former Yugoslavia)
Macau Region of China

ValueError: cannot insert country_code, already exists

In [178]:
# Print gegis countries not found by search
for code in gegis_country_codes:
    if code not in temp["country_code"].values:
        print(code)

In [180]:
# Adjust the missing countries
index_cc_BA = temp[temp["Countries"] == "Bosnia-Herzegovina"].index
temp.loc[index_cc_BA, "country_code"] = "BA"

index_cc_RS = temp[temp["Countries"] == "Serbia (former Yugoslavia)"].index
temp.loc[index_cc_RS, "country_code"] = "RS"

index_cc_KR = temp[temp["Countries"] == "Korea. Republic of"].index
temp.loc[index_cc_KR, "country_code"] = "KR"

index_cc_TR = temp[temp["Countries"] == "Turkey"].index
temp.loc[index_cc_TR, "country_code"] = "TR"

In [211]:
list_ids_gegis = []
for i in range(len(temp)):
    current_row = temp.iloc[i]

    if current_row["country_code"] in gegis_country_codes:
        list_ids_gegis += [i]

In [215]:
temp3 = temp.iloc[list_ids_gegis]

In [223]:
temp3

,Countries,country_code,Continents,SRegion,2009,2010,2011,2012,2013,2014,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
Code,,,,,,,,,,,,,,,,,,,,,
9,Argentina,AR,Americas,S America,NaN,NaN,NaN,NaN,NaN,NaN,...,17817.599974,17846.588600,17873.543992,17898.583936,17921.822999,17943.372052,17963.337885,17981.822932,17998.925069,18019.564046
11,Australia,AU,Asia-Pacific,SE Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,17980.901572,17989.396333,17997.304231,18004.665295,18011.516893,18017.893902,18023.828862,18029.352125,18034.492001,18039.274886
12,Austria,AT,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17924.553357,17942.204532,17958.868722,17974.599098,17989.446194,18003.458012,18016.680125,18029.155779,18040.925994,18052.029661
19,Belgium,BE,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17783.507912,17819.302856,17853.022893,17884.777818,17914.672889,17942.808845,17969.281964,17994.184130,18017.602927,18039.621738
25,Bosnia-Herzegovina,BA,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17693.173142,17743.941030,17791.206669,17835.180774,17876.065808,17914.055644,17949.335356,17982.081120,18012.460199,18045.459664
28,Brazil,BR,Americas,S America,NaN,NaN,NaN,NaN,NaN,NaN,...,17696.009321,17745.427713,17791.469267,17834.333642,17874.213166,17911.292430,17945.748020,17977.748341,18007.453558,18039.843800
30,Bulgaria,BG,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17782.012493,17818.503564,17852.454161,17884.013937,17913.327632,17940.534637,17965.768671,17989.157559,18010.823093,18035.708841
35,Canada,CA,Americas,N America,NaN,NaN,NaN,NaN,NaN,NaN,...,18028.235699,18030.014957,18031.624002,18033.079088,18034.394918,18035.584799,18036.660768,18037.633718,18038.513500,18039.309026
39,Chile,CL,Americas,S America,NaN,NaN,NaN,NaN,NaN,NaN,...,17369.496576,17457.328113,17541.363795,17621.744323,17698.610267,17772.101136,17842.354593,17909.505797,17973.686877,18039.854700
46,Croatia,HR,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17626.277329,17675.461420,17721.539037,17764.676729,17805.036618,17842.775804,17878.045903,17910.992707,17941.755935,17975.292000
49,Cyprus,CY,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17842.492022,17870.739038,17897.010967,17921.421323,17944.080684,17965.096189,17984.571154,18002.604772,18019.291905,18039.551122
50,Czech Republic,CZ,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17775.110169,17812.278389,17846.949750,17879.264064,17909.357409,17937.361576,17963.403648,17987.605672,18010.084443,18035.779228
51,Denmark,DK,Europe,Europe,NaN,6395.411367,6482.652127,6442.358326,6411.861402,6492.244999,...,17518.377618,17584.198313,17647.938389,17709.642592,17769.356343,17827.125580,17882.996610,17937.015962,17989.230268,18039.686135
60,Estonia,EE,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17367.887205,17458.417760,17544.456122,17626.177982,17703.759226,17777.374735,17847.197363,17913.397076,17976.140240,18040.417295
65,Finland,FI,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17998.568573,18004.705262,18010.354129,18015.553645,18020.339296,18024.743804,18028.797338,18032.527708,18035.960545,18039.119468
66,France,FR,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17787.046763,17821.124757,17853.517238,17884.301156,17913.550618,17941.336914,17967.728563,17992.791363,18016.588443,18039.180325
71,Germany,DE,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17859.012949,17883.822422,17907.299867,17929.512731,17950.525494,17970.399747,17989.194280,18006.965164,18023.765845,18039.647233
73,Greece,GR,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17462.027169,17542.274230,17617.870044,17689.035365,17755.987622,17818.939807,17878.099568,17933.668478,17985.841471,18039.634598
85,Hungary,HU,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17783.646944,17823.104894,17860.020080,17894.529157,17926.765585,17956.859028,17984.934882,18011.113918,18035.512013,18063.070045
86,Iceland,IS,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17916.887911,17934.075978,17950.244214,17965.451239,17979.752528,17993.200555,18005.844928,18017.732524,18028.907624,18039.412039
92,Ireland,IE,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17888.430492,17921.192189,17953.034774,17983.983285,18014.062126,18043.295088,18071.705354,18099.315515,18126.147581,18152.222992
94,Italy,IT,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17334.528015,17430.696661,17521.819634,17608.090980,17689.707047,17766.864822,17839.760487,17908.588191,17973.539006,18039.628251
100,Kenya,KE,Africa,Africa,NaN,170.938846,194.447187,210.079920,232.180202,252.850928,...,17828.644777,17859.421070,17887.897301,17914.227591,17938.558174,17961.027489,17981.766304,18000.897884,18018.538188,18039.624273
104,Korea. Republic of,KR,Asia-Pacific,NE Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,17488.370376,17556.813111,17622.464914,17685.438458,17745.845708,17803.797175,17859.401280,17912.763854,17963.987723,18017.927656
108,Latvia,LV,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17477.395703,17554.475069,17627.398594,17696.352525,17761.520708,17823.083633,17881.217653,17936.094351,17987.880034,18041.563701
113,Lithuania,LT,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17370.174721,17464.037263,17553.469963,17638.637132,17719.703842,17796.834745,17870.193062,17939.939724,18006.232660,18074.057170
115,Macedonia,MK,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17772.205754,17810.828593,17846.647844,17879.841017,17910.578053,17939.021117,17965.324483,17989.634502,18012.089651,18037.648658
125,Mexico,MX,Americas,N America,NaN,NaN,2942.986913,3031.213550,3036.224830,3068.532639,...,17605.963098,17667.679678,17725.375354,17779.275669,17829.598845,17876.555202,17920.346728,17961.166794,17999.199980,18039.450175
132,Netherlands,NL,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17677.418382,17723.969986,17768.815659,17812.006801,17853.594183,17893.627868,17932.157145,17969.230464,18004.895385,18039.198534
135,New Zealand,NZ,Asia-Pacific,SE Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,17528.697752,17594.805757,17657.837802,17717.920531,17775.179757,17829.739665,17881.722139,17931.246223,17978.427680,18028.177573
141,Norway,NO,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17723.381758,17752.830837,17781.644572,17809.836136,17837.418456,17864.404221,17890.805882,17916.635652,17941.905514,17966.627224
149,Poland,PL,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17765.375855,17803.418330,17838.957912,17872.131706,17903.073418,17931.912782,17958.775108,17983.780936,18007.045793,18033.507712
150,Portugal,PT,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17402.263813,17497.556324,17588.398105,17674.951945,17757.381581,17835.850507,17910.520948,17981.552994,18049.103882,18118.161840
156,Romania,RO,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17832.074123,17861.401597,17888.672424,17914.005791,17937.517613,17959.320050,17979.521123,17998.224436,18015.528975,18036.356910
160,Saudi Arabia,SA,Asia-Pacific,MENA,NaN,NaN,NaN,NaN,10251.732558,10251.248356,...,17602.515351,17661.648434,17718.742784,17773.849691,17827.020716,17878.307531,17927.761773,17975.434913,18021.378130,18065.642202
165,Slovakia,SK,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17368.354031,17459.455368,17546.074172,17628.384163,17706.559364,17780.772904,17851.195989,17917.997050,17981.341026,18046.217503
166,Slovenia,SI,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17801.702350,17841.128248,17877.988099,17912.421161,17944.563309,17974.546448,18002.498045,18028.540779,18052.792282,18080.196409
170,Spain,ES,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17590.852291,17651.332623,17708.730400,17763.183413,17814.827876,17863.797643,17910.223565,17954.232976,17995.949277,18040.248806
171,Sri Lanka,LK,Asia-Pacific,India_SAARC,NaN,NaN,NaN,NaN,539.073083,737.558300,...,17605.504217,17666.328178,17723.486396,17777.168854,17827.560521,17874.840726,17919.182667,17960.753039,17999.711785,18041.040228
178,Sweden,SE,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,18012.214526,18016.359031,18020.164711,18023.659116,18026.867578,18029.813389,18032.517960,18035.000970,18037.280506,18039.373189
179,Switzerland,CH,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17787.137293,17819.389451,17850.394558,17880.194445,17908.830079,17936.341525,17962.767924,17988.147476,18012.517420,18035.914028
188,Turkey,TR,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17659.858254,17713.188530,17763.208555,17810.093291,17854.013122,17895.133232,17933.613130,17969.606280,18003.259854,18039.542744
193,United Kingdom,GB,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,18024.490815,18026.867071,18029.023014,18030.979019,18032.753588,18034.363516,18035.824051,18037.149032,18038.351023,18039.441423
204,Serbia (former Yugoslavia),RS,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17452.807089,17532.209874,17607.044986,17677.534990,17743.897734,17806.345475,17865.084174,17920.312948,17972.223666,18025.827724
207,Water,IE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,Curacao,NL,Americas,N America,NaN,NaN,NaN,NaN,5104.110114,5080.587322,...,17758.871561,17799.220154,17836.854181,17871.927878,17904.590858,17934.987607,17963.257099,17989.532524,18013.941098,18041.432298
220,Sint Maarten,NL,Americas,N America,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
temp3 = temp3.drop([207, 211, 220])

In [229]:
temp3

,Countries,country_code,Continents,SRegion,2009,2010,2011,2012,2013,2014,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
Code,,,,,,,,,,,,,,,,,,,,,
9,Argentina,AR,Americas,S America,NaN,NaN,NaN,NaN,NaN,NaN,...,17817.599974,17846.588600,17873.543992,17898.583936,17921.822999,17943.372052,17963.337885,17981.822932,17998.925069,18019.564046
11,Australia,AU,Asia-Pacific,SE Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,17980.901572,17989.396333,17997.304231,18004.665295,18011.516893,18017.893902,18023.828862,18029.352125,18034.492001,18039.274886
12,Austria,AT,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17924.553357,17942.204532,17958.868722,17974.599098,17989.446194,18003.458012,18016.680125,18029.155779,18040.925994,18052.029661
19,Belgium,BE,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17783.507912,17819.302856,17853.022893,17884.777818,17914.672889,17942.808845,17969.281964,17994.184130,18017.602927,18039.621738
25,Bosnia-Herzegovina,BA,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17693.173142,17743.941030,17791.206669,17835.180774,17876.065808,17914.055644,17949.335356,17982.081120,18012.460199,18045.459664
28,Brazil,BR,Americas,S America,NaN,NaN,NaN,NaN,NaN,NaN,...,17696.009321,17745.427713,17791.469267,17834.333642,17874.213166,17911.292430,17945.748020,17977.748341,18007.453558,18039.843800
30,Bulgaria,BG,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17782.012493,17818.503564,17852.454161,17884.013937,17913.327632,17940.534637,17965.768671,17989.157559,18010.823093,18035.708841
35,Canada,CA,Americas,N America,NaN,NaN,NaN,NaN,NaN,NaN,...,18028.235699,18030.014957,18031.624002,18033.079088,18034.394918,18035.584799,18036.660768,18037.633718,18038.513500,18039.309026
39,Chile,CL,Americas,S America,NaN,NaN,NaN,NaN,NaN,NaN,...,17369.496576,17457.328113,17541.363795,17621.744323,17698.610267,17772.101136,17842.354593,17909.505797,17973.686877,18039.854700
46,Croatia,HR,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17626.277329,17675.461420,17721.539037,17764.676729,17805.036618,17842.775804,17878.045903,17910.992707,17941.755935,17975.292000
49,Cyprus,CY,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17842.492022,17870.739038,17897.010967,17921.421323,17944.080684,17965.096189,17984.571154,18002.604772,18019.291905,18039.551122
50,Czech Republic,CZ,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17775.110169,17812.278389,17846.949750,17879.264064,17909.357409,17937.361576,17963.403648,17987.605672,18010.084443,18035.779228
51,Denmark,DK,Europe,Europe,NaN,6395.411367,6482.652127,6442.358326,6411.861402,6492.244999,...,17518.377618,17584.198313,17647.938389,17709.642592,17769.356343,17827.125580,17882.996610,17937.015962,17989.230268,18039.686135
60,Estonia,EE,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17367.887205,17458.417760,17544.456122,17626.177982,17703.759226,17777.374735,17847.197363,17913.397076,17976.140240,18040.417295
65,Finland,FI,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17998.568573,18004.705262,18010.354129,18015.553645,18020.339296,18024.743804,18028.797338,18032.527708,18035.960545,18039.119468
66,France,FR,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17787.046763,17821.124757,17853.517238,17884.301156,17913.550618,17941.336914,17967.728563,17992.791363,18016.588443,18039.180325
71,Germany,DE,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17859.012949,17883.822422,17907.299867,17929.512731,17950.525494,17970.399747,17989.194280,18006.965164,18023.765845,18039.647233
73,Greece,GR,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17462.027169,17542.274230,17617.870044,17689.035365,17755.987622,17818.939807,17878.099568,17933.668478,17985.841471,18039.634598
85,Hungary,HU,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17783.646944,17823.104894,17860.020080,17894.529157,17926.765585,17956.859028,17984.934882,18011.113918,18035.512013,18063.070045
86,Iceland,IS,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17916.887911,17934.075978,17950.244214,17965.451239,17979.752528,17993.200555,18005.844928,18017.732524,18028.907624,18039.412039
92,Ireland,IE,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17888.430492,17921.192189,17953.034774,17983.983285,18014.062126,18043.295088,18071.705354,18099.315515,18126.147581,18152.222992
94,Italy,IT,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17334.528015,17430.696661,17521.819634,17608.090980,17689.707047,17766.864822,17839.760487,17908.588191,17973.539006,18039.628251
100,Kenya,KE,Africa,Africa,NaN,170.938846,194.447187,210.079920,232.180202,252.850928,...,17828.644777,17859.421070,17887.897301,17914.227591,17938.558174,17961.027489,17981.766304,18000.897884,18018.538188,18039.624273
104,Korea. Republic of,KR,Asia-Pacific,NE Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,17488.370376,17556.813111,17622.464914,17685.438458,17745.845708,17803.797175,17859.401280,17912.763854,17963.987723,18017.927656
108,Latvia,LV,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17477.395703,17554.475069,17627.398594,17696.352525,17761.520708,17823.083633,17881.217653,17936.094351,17987.880034,18041.563701
113,Lithuania,LT,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17370.174721,17464.037263,17553.469963,17638.637132,17719.703842,17796.834745,17870.193062,17939.939724,18006.232660,18074.057170
115,Macedonia,MK,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17772.205754,17810.828593,17846.647844,17879.841017,17910.578053,17939.021117,17965.324483,17989.634502,18012.089651,18037.648658
125,Mexico,MX,Americas,N America,NaN,NaN,2942.986913,3031.213550,3036.224830,3068.532639,...,17605.963098,17667.679678,17725.375354,17779.275669,17829.598845,17876.555202,17920.346728,17961.166794,17999.199980,18039.450175
132,Netherlands,NL,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17677.418382,17723.969986,17768.815659,17812.006801,17853.594183,17893.627868,17932.157145,17969.230464,18004.895385,18039.198534
135,New Zealand,NZ,Asia-Pacific,SE Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,17528.697752,17594.805757,17657.837802,17717.920531,17775.179757,17829.739665,17881.722139,17931.246223,17978.427680,18028.177573
141,Norway,NO,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17723.381758,17752.830837,17781.644572,17809.836136,17837.418456,17864.404221,17890.805882,17916.635652,17941.905514,17966.627224
149,Poland,PL,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17765.375855,17803.418330,17838.957912,17872.131706,17903.073418,17931.912782,17958.775108,17983.780936,18007.045793,18033.507712
150,Portugal,PT,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17402.263813,17497.556324,17588.398105,17674.951945,17757.381581,17835.850507,17910.520948,17981.552994,18049.103882,18118.161840
156,Romania,RO,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17832.074123,17861.401597,17888.672424,17914.005791,17937.517613,17959.320050,17979.521123,17998.224436,18015.528975,18036.356910
160,Saudi Arabia,SA,Asia-Pacific,MENA,NaN,NaN,NaN,NaN,10251.732558,10251.248356,...,17602.515351,17661.648434,17718.742784,17773.849691,17827.020716,17878.307531,17927.761773,17975.434913,18021.378130,18065.642202
165,Slovakia,SK,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17368.354031,17459.455368,17546.074172,17628.384163,17706.559364,17780.772904,17851.195989,17917.997050,17981.341026,18046.217503
166,Slovenia,SI,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17801.702350,17841.128248,17877.988099,17912.421161,17944.563309,17974.546448,18002.498045,18028.540779,18052.792282,18080.196409
170,Spain,ES,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17590.852291,17651.332623,17708.730400,17763.183413,17814.827876,17863.797643,17910.223565,17954.232976,17995.949277,18040.248806
171,Sri Lanka,LK,Asia-Pacific,India_SAARC,NaN,NaN,NaN,NaN,539.073083,737.558300,...,17605.504217,17666.328178,17723.486396,17777.168854,17827.560521,17874.840726,17919.182667,17960.753039,17999.711785,18041.040228
178,Sweden,SE,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,18012.214526,18016.359031,18020.164711,18023.659116,18026.867578,18029.813389,18032.517960,18035.000970,18037.280506,18039.373189
179,Switzerland,CH,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17787.137293,17819.389451,17850.394558,17880.194445,17908.830079,17936.341525,17962.767924,17988.147476,18012.517420,18035.914028
188,Turkey,TR,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17659.858254,17713.188530,17763.208555,17810.093291,17854.013122,17895.133232,17933.613130,17969.606280,18003.259854,18039.542744
193,United Kingdom,GB,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,18024.490815,18026.867071,18029.023014,18030.979019,18032.753588,18034.363516,18035.824051,18037.149032,18038.351023,18039.441423
204,Serbia (former Yugoslavia),RS,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,...,17452.807089,17532.209874,17607.044986,17677.534990,17743.897734,17806.345475,17865.084174,17920.312948,17972.223666,18025.827724

In [37]:
temp1 = pd.read_csv(
    "./data/toktarova_et_al_2019/GDPperCapita.csv", index_col=0, header=1
)

In [38]:
temp1.columns = [
    int(float(col_name)) if col_name.split(".")[0].isdigit() else col_name
    for col_name in temp1.columns
]

In [45]:
temp1[2015].count()

np.int64(209)

### (iii) average hourly temperature profiles over the year in the 3 most densely populated areas of each country [35,36]

In [ ]:
# ETL/temperature

### (iv) the mean annual temperature level

In [ ]:
# ETL/temperature

### (v) the 1st temperature percentile across the year (to represent how low the temperature dips go)

In [ ]:
# ETL/temperature

### (vi) the 99th percentile (to represent how high temperature spikes go)

In [ ]:
# ETL/temperature

### (vii) hour of the day

### (viii) a weekday/weekend indicator

### (ix) mean monthly temperature levels

In [ ]:
# ETL/temperature

### (x) a temperature-based ranking of months of the year (where the first month is the coldest month, and the month ranked last is the warmest across the year)

In [ ]:
# ETL/temperature

In [9]:
pd.read_csv("./data/toktarova_et_al_2019/GDPperCapita.csv", index_col=0, header=1)

,Countries,Continents,SRegion,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,...,2091.0,2092.0,2093.0,2094.0,2095.0,2096.0,2097.0,2098.0,2099.0,2100.0
Code,,,,,,,,,,,,,,,,,,,,,
1,Afghanistan,Asia-Pacific,India_SAARC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84513.648970,84945.368034,85344.057644,85711.947230,86051.160167,86363.711951,86651.509728,86916.352953,87159.935007,87418.360257
2,Albania,Europe,Europe,3235.619467,2292.006978,2139.920427,2359.707076,2571.299117,2931.333042,3218.022703,...,85632.313190,85965.214251,86276.694494,86567.867757,86839.827593,87093.641755,87330.347663,87550.948770,87756.411756,87982.401824
3,Algeria,Africa,MENA,7736.104268,7458.505444,7417.711051,7103.806066,6896.890897,7024.660080,7186.481519,...,86311.132947,86553.488069,86778.749769,86987.917711,87181.962366,87361.821423,87528.396981,87682.553467,87825.116207,87991.611560
4,Andorra,Europe,Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84182.763346,84684.375116,85167.544889,85632.832949,86080.816042,86512.080994,86927.219137,87326.821476,87711.474575,88116.547416
5,Angola,Africa,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82589.887519,83287.028727,83954.491295,84593.112591,85203.764989,85787.346420,86344.771879,86876.965871,87384.855756,87904.072386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Samoa,Asia-Pacific,SE Asia,2743.203225,2660.376848,2631.082460,2712.124879,2618.437331,2770.660768,2950.181791,...,81547.532398,82412.875569,83237.250429,84021.811109,84767.780972,85476.436565,86149.093035,86787.091008,87391.784915,87999.276720
220,Sint Maarten,Americas,N America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86134.938849,86398.054441,86643.944262,86873.503845,87087.615654,87287.143847,87472.929933,87645.789273,87806.508338,87990.583241
221,Timor-Leste,Asia-Pacific,SE Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84603.396536,85038.608438,85440.475560,85811.251593,86153.083034,86468.007270,86757.952051,87024.736134,87270.070901,87530.121566
222,Tokelau,Asia-Pacific,SE Asia,NaN,NaN,NaN,751.879699,863.402877,980.106338,1098.091199,...,85002.436203,85347.923816,85675.948347,85987.595994,86283.910997,86565.893557,86834.498405,87090.633968,87335.162047,87599.048150
223,Tonga,Asia-Pacific,SE Asia,2686.035787,2853.784605,2857.467757,2960.837014,3102.731406,3210.820001,3201.632167,...,85684.333928,86023.928047,86338.512592,86629.683885,86898.971414,87147.835469,87377.665732,87589.780694,87785.427809,88000.528783